* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(91, 175, 175);
}

.container, .finished {
  width: 300px;
  min-height: 60vh;
  margin: 50px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgb(117, 170, 170);
  display: flex;
  flex-direction: column;
  gap: 50%;
  position: relative;
  padding: 5px;
}
@media (min-width: 700px) {
  .container, .finished {
    width: 400px;
  }
}

.question {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin: 10px 20px;
  color: rgb(58, 57, 57);
  white-space: pre-wrap;
}

.answers {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 20px;
  gap: 25px;
  justify-content: center;
  align-content: start;
}
.answers div {
  cursor: pointer;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  background: rgb(30, 52, 125);
  border-radius: 10px;
  transition: 300ms ease-in-out;
}
.answers div:hover {
  opacity: 80%;
}
.answers .correct {
  background-color: darkgreen;
}
.answers .wrong {
  background-color: darkred;
}

.header {
  display: flex;
  width: 300px;
  justify-content: center;
  gap: 20px;
  margin: 10px auto;
}
.header .alert {
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: monospace;
  width: 200px;
  height: 20px;
  background-color: rgb(17, 17, 77);
  padding: 4px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .score {
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: monospace;
  width: 200px;
  height: 20px;
  background-color: rgb(62, 62, 110);
  padding: 4px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .success {
  background-color: darkgreen;
}
.header .danger {
  background-color: darkred;
}

.finished {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(14, 110, 189);
  gap: 30px;
  align-items: center;
}
.finished span {
  margin-top: 40px;
}

.btn {
  color: white;
  font-family: monospace;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  height: 30px;
  background-color: rgb(14, 110, 189);
  border-radius: 10px;
  position: absolute;
  top: 88%;
  right: 10%;
  cursor: pointer;
  transition: 200ms ease-out;
  animation: 500ms ease-out infinite;
}

.btn:hover {
  animation-name: throbbing;
}

.skip {
  background-color: darkred;
  animation: 490ms ease-in-out infinite;
}

.skip:hover {
  animation-name: danger;
}

@keyframes throbbing {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes danger {
  0% {
    transform: scale(0.9);
    background: rgb(180, 19, 19);
  }
  40% {
    transform: scale(0.97);
    background: rgba(180, 19, 19, 0.8);
  }
  80% {
    transform: scale(1);
    background: rgba(180, 19, 19, 0.6);
  }
  100% {
    transform: scale(1);
  }
}
.start {
  background-color: darkblue;
  color: rgb(243, 243, 247);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 80px auto;
}/*# sourceMappingURL=index.css.map */